$yellow-color: #f1c40f;
$yellow-shadow-color: #d48a16;
$dark-yellow-color: #f39c12;
$dark-yellow-shadow-color: #d48a16;

$light-grey-color: #ecf0f1;
$dark-grey-color: #bdc3c7;
$dark-shadow-grey-color: #aaa;
$grey-shadow-color: #9ea3a6;

$light-green-color: #29bb9b;
$green-color: #16a085;
$green-shadow-color: #14977e;

$primary-font-color: $dark-grey-color;
$green-font-color: $green-color;

$primary-font-color: white;