@import 'compass/css3/transition';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';
@import 'metrics';
@import 'type';
@import 'colors';

.main-container {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 0%;
  height: 100%;
  float: left;
  @include transition(width 1s 1s ease-in);
  &.content-container-full {
    width: 100%;
  }
  &.content-container-half {
    width: 50%;
  }
  &.content-container-quarter {
    width: 25%;
  }
}

.et {
  background: #222 url("/assets/images/ETTrans87.png") 14% 65% no-repeat;
}

.utilization, .marker {
  color: #5bbeee;
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
  width: 70px;
  font-size: 200%;
}

.utilization {
  background-color: #5bbeee;
}


.utilization span,
.marker span {
  position: absolute;
  top: -0.5em;
  line-height: 1em;
  left: 80px;
}
.utilization span {
  font-size: 5em;
  left: 90px;
}

.marker span {
  font-style: 3em;
}
