@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "metrics";
@import "type";
@import "colors";

* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  vertical-align: top;
}

// clearfix

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf { 
  *zoom: 1; // Internet Explorer 6, 7
}

// resets

a, input {
  color: $primary-font-color;
  text-decoration: none;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

figcaption {
  margin-bottom: 0.5em;
}

html {
  min-height:100%;
  position:relative;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "open_sanslight";
  -webkit-text-size-adjust: 100%;
  color: $primary-font-color;
  height: 100%;
}

body {
  // background: url('../assets/images/background.png') center center repeat-x;
}





