/*
Syntax error: Invalid CSS after "  float: left;": expected "}", was "<<<<<<< HEAD"
        on line 18 of /Users/gonzifroni/Projects/neo/awesome/app/scss/content.scss

Backtrace:
/Users/gonzifroni/Projects/neo/awesome/app/scss/content.scss:18
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:536:in `block'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/commands/update_project.rb:45:in `perform'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/bin/compass:23:in `load'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/bin/compass:23:in `<main>'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/bin/ruby_executable_hooks:15:in `eval'
/Users/gonzifroni/.rvm/gems/ruby-2.1.1@dashboard/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  float: left;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 18 of /Users/gonzifroni/Projects/neo/awesome/app/scss/content.scss"; }
