/* line 8, ../scss/type.scss */
body {
  font-size: 0.875em;
}

/* line 12, ../scss/type.scss */
h1 {
  font-size: 2.3125em;
}

/* line 16, ../scss/type.scss */
h2 {
  font-size: 1.4375em;
}

/* line 20, ../scss/type.scss */
h3 {
  font-size: 1.125em;
}

/* line 24, ../scss/type.scss */
h4 {
  font-size: 1.125em;
}

/* line 28, ../scss/type.scss */
h5 {
  font-size: 0.6875em;
}

/* line 32, ../scss/type.scss */
h6 {
  font-size: 0.6875em;
}

/* line 36, ../scss/type.scss */
figcaption {
  font-size: 1.125em;
}

/* line 9, ../scss/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  vertical-align: top;
}

/* line 19, ../scss/main.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 24, ../scss/main.scss */
.cf:after {
  clear: both;
}

/* line 28, ../scss/main.scss */
.cf {
  *zoom: 1;
}

/* line 34, ../scss/main.scss */
a, input {
  color: white;
  text-decoration: none;
}

/* line 39, ../scss/main.scss */
p {
  margin-top: 0;
}

/* line 43, ../scss/main.scss */
h1, h2, h3, h4 {
  margin-top: 0;
}

/* line 47, ../scss/main.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 52, ../scss/main.scss */
figcaption {
  margin-bottom: 0.5em;
}

/* line 56, ../scss/main.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 61, ../scss/main.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: "open_sanslight";
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: white;
  height: 100%;
}
