!!!
%html
  %head
    %meta(charset='utf-8')
    %meta(content='IE=edge,chrome=1' 'http-equiv'='X-UA-Compatible')
    %meta(name='viewport' content='width=device-width')
    %title Dashboard

    %link(rel='stylesheet' type='text/css' href='vendor/normalize.css' media='screen' charset='utf-8')
    %link(rel='stylesheet' type='text/css' href='css/main.css' media='screen' charset='utf-8')
    %link(rel='stylesheet' type='text/css' href='css/content.css' media='screen' charset='utf-8')
    %link(rel='stylesheet' type='text/css' href='css/responsive.css' media='screen' charset='utf-8')

    %script(type='text/javascript' src='vendor/modernizr.js')
    %script(type='text/javascript' src='vendor/underscore.js')
    %script(type='text/javascript' src='vendor/jquery.js')
    %script(type='text/javascript' src='vendor/moment.min.js')
    %script(type='text/javascript' src='data/mock.jsonp')
    %script(type='text/javascript' src='js/helpers.js')
    %script(type='text/javascript' src='vendor/instafeed.min.js')
    %script(type='text/javascript' src='js/main.js')


    %meta(name='HandheldFriendly' content='true')
    %meta(name='viewport' content='initial-scale = 1.0')
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black')

  %body
    .main-container
      %section.content-container.et.content-container-dark
        %header.content-container-header Utilization
        %div.utilization
          %span ??%
        %div.marker(style="height: 48%")
          %span profitable
        %div.marker(style="height: 80%")
          %span great&nbsp;happiness
      %section.content-container.content-container-light
        %header.content-container-header Events
          %ul.event-items
            %li.event-item
              .event-item-head
                .event-item-date Mon 5/13
                .event-item-title Code for America
              .event-item-time 6:00p
              %ul.event-item-attendees
                %li.event-item-attendee GZ
                %li.event-item-attendee AT
                %li.event-item-attendee AZ
      %section.content-container.content-container-dark
        %header.content-container-header Pipedrive
        %img(class='pipedrive-pizza' src='assets/images/Pizza7.png')
        %img(class='pipedrive-pie' src='assets/images/Pie3.png')
      %section.content-container#instafeed.content-container-light
        %header.content-container-header= '#neoinnovate'

  %script(type="text/javascript")
    $('a, h1, h2, section').each(function(i, el) {
    -#$(el).css('background', '#' + Math.floor(Math.random()*16777215).toString(16).substring(3));
    -#$(el).css('border-right', '1px solid #ddd');
    });
